<div ng-hide="authData">
	<div class="admin-section">
		Email: <input type="text" class="email-input"></input>
		Password: <input type="password" class="password-input"></input>
		<button ng-click="authorize_password()">SIGN IN!</button>
	</div>
</div>
<div ng-show="authData" class="admin-container">
	<div class="admin-sidebar">
		<h4 ng-click="showAdminPersonal()">Personal Info</h4>
		<h4 ng-click="showAdminBlog()">Blog</h4>
		<h4 ng-click="showAdminRecipes()">Recipes</h4>
		<button ng-click="logOut()">LOGOUT!!!</button>
	</div>
	<div class="admin-content">
		<div class="admin-header">
			<h2 class="admin-header-section">{{ adminHeader }}</h2>
			<button ng-click="obj.$save()" class="change-save">SAVE CHANGES</button>
		</div>
		<div class="admin-items">
			<div ng-show="adminPersonal" class="admin-section">
				<form>
					<h4>PERSONAL INFO</h4>
					First Name: <input ng-model="obj.AboutMe.PersonalInfo.FirstName" type="text" class="personal-input"></input>
					Last Name: <input ng-model="obj.AboutMe.PersonalInfo.LastName" type="text" class="personal-input"></input>
					Age: <input ng-model="obj.AboutMe.PersonalInfo.Age" type="text" class="personal-input"></input><br><br>
					Preview Image: <img id="about-preview-image" class="preview-image" src="{{ obj.AboutMe.PersonalInfo.ImageSource }}"><br><br>
					Image Source: <input ng-model="obj.AboutMe.PersonalInfo.ImageSource" id="about-image-source"></input>
					<div class="media-library admin-section">
						<input type="file" id="about-image-file" />Required
						<input type="text" id="about-file-name" value="File Name"></input>Required
						<input type="button" id="post-media-upload-button" value="Upload!" ng-click="uploadNewAboutMedia()"></input>
					</div>
				</form>
			</div>
			<div ng-show="adminPersonal" class="admin-section">
				<h4>SOCIAL MEDIA</h4>
				Instagram: <input ng-model="obj.Social_Media.Instagram" type="text" class="social-input"></input><br><br>
				Twitter: <input ng-model="obj.Social_Media.Twitter" type="text" class="social-input"></input>
			</div>
			<div ng-show="adminRecipes" class="admin-section">
				<h4>Recipes</h4>
				<div class="all-recipes">
					<div ng-repeat="recipe in obj.Recipes">
						<div class="each-recipe-list">
							<a href="#/admin/recipes/{{$index}}"><h2>{{ recipe.Title }}</h2></a>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="adminBlog" class="admin-section">
				<h4>Blog Posts</h4>
				<div class="all-posts">
					<div>
						<a href="#/admin/new/blog">NEW POST PLEASE!</a>
					</div>
					<div ng-repeat="post in obj.Posts">
						<div class="each-post-list">
							<a href="#/admin/blog/{{$index}}"><h2>{{ post.Title }}</h2></a>
							<p>{{ post.Date | date : 'short' }}</p>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>






