<div ng-hide="authData">
	<div class="admin-section">
		Email: <input type="text" class="email-input"></input>
		Password: <input type="password" class="password-input"></input>
		<button ng-click="authorize_password()">SIGN IN!</button>
	</div>
</div>
<div ng-show="authData" class="admin-container">
	<div class="admin-sidebar">
		<a href="#/admin"><h4>Back To Main Admin</h4></a>
		<h2 ng-click="logOut()">LOGOUT!!!</h2>
	</div>
	<div class="admin-content">
		<div class="admin-header">
			<h2 class="admin-header-section">{{ adminHeader }}</h2>
			<button ng-click="saveRecipe()" class="change-save">SAVE CHANGES</button>
		</div>
		<div class="admin-items">
			<div class="edit-post admin-section">
				Title: <input class="admin-title" ng-model="currentRecipe.Title"></input><br><br>
				Date: <input class="admin-date" ng-model="currentPost.Date" class="post-input new-date"></input><br><br>
				Content: <textarea class="admin-info" ng-model="currentRecipe.Content"></textarea><br><br>
				Preview Image: <img class="preview-image" src="{{ currentRecipe.ImageSource }}">
			</div>
			<div>
				<a href="#/admin/new/recipe">NEW RECIPE PLEASE!</a>
			</div>
		</div>
	</div>	
</div>	