<div ng-hide="authData">
	<div class="admin-section">
		Email: <input type="text" class="email-input"></input>
		Password: <input type="password" class="password-input"></input>
		<button ng-click="authorize_password()">SIGN IN!</button>
	</div>
</div>
<div ng-show="authData" class="admin-container">
	<div class="admin-section">
		<h4>WELCOME PAGE</h4>
		Landing Page Intro:<input ng-model="obj.WelcomePage.Introduction" class="landing-input" type="text"></input>
	</div>
	<div class="admin-section">
		<form>
			<h4>PERSONAL INFO</h4>
			First Name: <input ng-model="obj.AboutMe.PersonalInfo.FirstName" type="text" class="personal-input"></input>
			Last Name: <input ng-model="obj.AboutMe.PersonalInfo.LastName" type="text" class="personal-input"></input>
			Age: <input ng-model="obj.AboutMe.PersonalInfo.Age" type="text" class="personal-input"></input>
		</form>
	</div>
	<div class="admin-section">
		<h4>SOCIAL MEDIA</h4>
		Instagram: <input ng-model="obj.Social_Media.Instagram" type="text" class="social-input"></input><br><br>
		Twitter: <input ng-model="obj.Social_Media.Twitter" type="text" class="social-input"></input>
	</div>
	<div class="admin-section">
		<h4>Blog Posts</h4>
		<div class="all-posts">
			<div ng-repeat="post in obj.Posts" class="posts-section">
				Title: <input ng-model="post.Title"></input><br><br>
				Date: <input ng-model="post.Date"></input><br><br>
				Content: <input ng-model="post.Content"></input><br><br>
				Feature Image: <input ng-model="post.ImageSource"></input><br><br>
			</div>
			<div ng-show="showPostAdder" class="posts-section">
				Title: <input ng-model="postTitle" class="post-input new-title"></input><br><br>
				Date: <input ng-model="postDate" class="post-input new-date"></input><br><br>
				Content: <input ng-model="postContent" class="post-input new-content"></input><br><br>
				Feature Image: <input ng-model="postImageSource" class="post-input new-feature-image"></input><br><br>
				<input type="button" ng-click="saveNewPost()" value="SAVE THIS NEW POST"></input><br><br>
			</div>
			<input type="button" value="New Post" ng-click="appendPost()"></input>
		</div>
	</div>
	<div class="admin-section">
		<h4>Recipes</h4>
		<div class="all-recipes">
			<div ng-repeat="recipe in obj.Recipes" class="recipes-section">
				Title: <input ng-model="recipe.Title"></input><br><br>
				Content: <input ng-model="recipe.Content"></input><br><br>
				Feature Image: <input ng-model="recipe.ImageSource"></input><br><br>
			</div>
			<div ng-show="showRecipeAdder" class="recipes-section">
				Title: <input ng-model="recipeTitle" class="recipe-input new-title"></input><br><br>
				Content: <input ng-model="recipeContent" class="post-recipe new-content"></input><br><br>
				Feature Image: <input ng-model="recipeImageSource" class="recipe-input new-feature-image"></input><br><br>
				<input type="button" ng-click="saveNewRecipe()" value="SAVE THIS NEW RECIPE"></input><br><br>
			</div>
			<input type="button" value="New Recipe" ng-click="appendRecipe()"></input>
		</div>
	</div>
	<div class="admin-section">
		<button ng-click="obj.$save()" class="change-save">SAVE CHANGES</button>
	</div>
	<div class="admin-section">
		<button ng-click="logOut()">LOGOUT!!!</button>
	</div>
</div>






