<div class="main-container"></div>
<div appheader class="main-header"></div>
<div class="post-cover-image" style="background: url('{{ currentPost.ImageSource }}'); background-position: center top; background-size: cover">
</div>
<div class="post-content">
	<div class="blogpost-main-content">
		<div class="inner-post-content">
			<h2>{{ currentPost.Title }}</h4>
			<p>{{ currentPost.Date | date : 'short' }}</p>
			<pre id="post-content-div"></pre>
		</div>
		<div class="comments">
			<form class="new-comment-form">
				<h3>Comments:</h3><br><br>
				<input type="text" id="post-comment-name" value="Please Put Your Name Here"></input><br><br>
				<textarea type="text" id="post-comment-message" value="Write your comment here..."></textarea><br><br>
				<input type="button" ng-click="submitPostComment()" value="Submit"></input>
			</form>
			<div class="comment-div">
				<div ng-repeat="comment in postCommentList | orderBy:'Date':true">
					<h4>{{ comment.Name }}</h4>
					<p>{{ comment.Date | date : 'short' }}</p>
					<p>{{ comment.Message }}</p>
				</div>
			</div>
		</div>
	</div>
	<div singlesidebar class="sidebar"></div>
</div>




