<div class="main-container"></div>
<div appheader class="main-header"></div>
<div class="main-content">
	<div class="blog-main-content">
		<div ng-repeat="post in blogArray | filter: blogSearch | orderBy:'Date':true | limitTo: 4 " class="post-div">
			<div class="post-div-image" style="background: url('{{ post.ImageSource }}'); background-position: center; background-size: cover"></div>	
			<div class="post-info">
				<h3>{{ post.Title}}</h3>
				<h4>{{ post.Date | date : 'short' }}</h4>
				<p>{{ post.Content | limitTo: 200 }}{{post.Content.length > 200 ? '...' : ''}}</p>
				<a href="#/blog/{{$index}}">
					<h4>Read More...</h4>
				</a>
			</div>
		</div>	
		<div class="main-more-blog-posts"><a href="#/blog/"><h2>More Blog Posts...</h2></a></div>	
	</div>
	<div class="sidebar">
		<div class="inner-sidebar">
			<div class="social-links">
				<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
				<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
			</div>
			<input type="text" ng-model="blogSearch"></input>
			<div class="sidebar-recipes">
				<h3>Recent Recipes</h3>
				<a href="#/recipes/0">
					<div class="main-recipe-img" style="background: url('{{ recipeArray[0].ImageSource }}'); background-position: center; background-size: cover"></div>
				</a>
				<a href="#/recipes/1">
					<div class="main-recipe-img" style="background: url('{{ recipeArray[1].ImageSource }}'); background-position: center; background-size: cover"></div>
				</a>
				<a href="#/recipes/2">
					<div class="main-recipe-img" style="background: url('{{ recipeArray[2].ImageSource }}'); background-position: center; background-size: cover"></div>
				</a>
				<a href="#/recipes/3">
					<div class="main-recipe-img" style="background: url('{{ recipeArray[3].ImageSource }}'); background-position: center; background-size: cover"></div>
				</a>
				<a href="#/recipes/4">
					<div class="main-recipe-img" style="background: url('{{ recipeArray[4].ImageSource }}'); background-position: center; background-size: cover"></div>
				</a>
				<a href="#/recipes/5">
					<div class="main-recipe-img" style="background: url('{{ recipeArray[5].ImageSource }}'); background-position: center; background-size: cover"></div>
				</a>
			</div>
		</div>
	</div>
</div>


