<div class="main-container"></div>
<div appheader class="main-header"></div>
<div class="main-content">
	<div class="blog-main-content">
		<div ng-repeat="post in blogArray | filter: search | orderBy:'Date':true | limitTo: 4 " class="post-div">
			<div class="post-div-image" style="background: url('{{ post.ImageSource }}'); background-position: center; background-size: cover"></div>	
			<div class="post-info">
				<h3>{{ post.Title}}</h3>
				<h4>{{ post.Date | date : 'short' }}</h4>
				<p>{{ post.Content | limitTo: 200 }}{{post.Content.length > 200 ? '...' : ''}}</p>
				<a ui-sref="blog-post({id: post.urlID })">
					<h4>Read More...</h4>
				</a>
			</div>
		</div>	
		<div class="main-more-blog-posts"><a href="#/blog/"><h2>More Blog Posts...</h2></a></div>	
	</div>
	<div pagesidebar class="sidebar"></div>
</div>


