<div appheader class="header"></div>
<div class="menu-content">
	<div class="menu-item blog-menu-item">
		<div class="overlay"></div>
		<div class="link-div">
			<a href="#/blog"><h1>My Blog</h1></a>
		</div>
	</div>
	<div class="menu-item cooking-menu-item">
		<div class="overlay"></div>
		<div class="link-div">
			<a href="#/cooking"><h1>Cooking</h1></a>
		</div>	
	</div> 
	<div class="menu-item about-menu-item">
		<div class="overlay"></div>
		<div class="link-div">
			<a href="#/aboutme"><h1>About Me</h1></a>
		</div>
	</div>
</div>



